.Wrapper1 {
    width: 1200px;
	margin: 0px auto 0px auto;
	background-color: #ffffff;
	border: 2px solid #ddd;
}
.Wrapper2 {
	border: 2px solid #ddd;
	margin: 20px auto 20px auto;
	padding: 5px;
	background-color: white;
}
.Wrapper3 {
    width: 1200px;
	margin: 0px auto 0px auto;
}

@media all and (max-width: 1100px) {
	.Wrapper1, .Wrapper3 {width: 100%;}
}

@media all and (max-width: 600px) {
	p {font-size: 80%;}
}